<h2>Social information on usernames from Reddit and Twitter</h2>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Search") %>
<% end %>
